body {
  background: #161f26;
}

.game-container {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  position: relative;
  background-color: #161f26;
}

.background {
  /* width: 1600px;
    height: 1134px; */
  margin: 0 auto;
  width: 1440px;
  height: 1021px;
  background-image: url("../public/background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
}

.room {
  position: absolute;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s, box-shadow 0.3s;
  /* width: 370px; 
    height: 220px; */
  width: 325px;
  height: 192px;
}

.room img {
  width: 100%;
}

.room:hover {
  border-color: yellow;
  box-shadow: 0 0 10px yellow;
}

/* .room-1 { top: 190px; left: 212px; }
.room-2 { top: 190px; left: 610px; }
.room-3 { top: 190px; left: 1010px; }
.room-4 { top: 463px; left: 212px; }
.room-5 { top: 463px; left: 610px; }
.room-6 { top: 453px; left: 1010px; }
.room-7 { top: 710px; left: 212px; }
.room-8 { top: 725px; left: 610px; }
.room-9 { top: 715px; left: 1025px; } */

.room-1 {
  top: 176px;
  left: 192px;
}
.room-2 {
  top: 176px;
  left: 552px;
}
.room-3 {
  top: 176px;
  left: 914px;
}
.room-4 {
  top: 416px;
  left: 192px;
}
.room-5 {
  top: 416px;
  left: 552px;
}
.room-6 {
  top: 406px;
  left: 914px;
}
.room-7 {
  top: 642px;
  left: 192px;
}
.room-8 {
  top: 652px;
  left: 552px;
}
.room-9 {
  top: 642px;
  left: 924px;
}

.room-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
  height: 64px;
}

.navbar-left {
  display: flex;
  gap: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.wallet-adapter-button {
  margin-left: 10px;
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 800px;
  background-color: white;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 16px;
  outline: none;
}

.room-option {
  text-align: center;
}

.room-image {
  width: 100%;
  height: auto;
}

.footer {
  margin-top: 50px;
}

.footer a {
  color: white;
  text-decoration: dotted underline;
}
